<%- include('header'); -%>
    <div class="box" id="heading">
        <h1>
            This is a To-Do-List application  which helps you to remember your priorities!
        </h1>
    </div>
<%- include('footer'); -%>
